body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fee9ee;
  }
  
  .main {
    width: 100%;
    height: 100%;
    background-color: #205a68;
  }
  
  .main-top {
    display: flex;
    justify-content: center !important;
    height: 20%;
    width: 100%;
    background-color: #fee9ee;
    color: #205a68 !important;
    font-family: "League Spartan" !important;
    font-size: 40px !important;
  }
  
  .p-main-mid{
    margin: 10px 0px 2px 9px;
    font-size: 15px;
    font-family: "Glacial Indifference";
    color: aliceblue;
  }
  
  .main-mid {
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    justify-items: center;
    align-items: end;
  }
  .mid-left {
    grid-area: 1 / 2 / 2 / 3;
  }
  .mid-right {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .main-bot {
    height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
  }
  
  
  input[type="text"],
  input[type="password"] {
    width: 340px;
    padding: 12px 20px;
    font-family: "Glacial Indifference";
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1em;
    align-items: center;
  }
  
  
  input[type="submit"] {
    width: 380px;
    height: 50px;
    margin: 50px 0px 0px 0px;
    font-size: 22px;
    border-radius: 2em;
    border: none;
    background-color: #fee9ee;
    color: #205a68;
    font-family: "League Spartan";
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.2s ease-out;
  }
  
  input[type="submit"]:hover {
    background: #091e23;
    color: white;
  }

  .p-main-bot{
    margin: 10px 0px 2px -240px;
    font-size: 15px;
    font-family: "Glacial Indifference";
    color: aliceblue;
  }